<div class="row">
  <div class="col-xs-12">
    <%= simple_form_for([parent,resource], html: { class: 'form-horizontal' },
    wrapper: :horizontal_form,
            wrapper_mappings: {
              check_boxes: :horizontal_radio_and_checkboxes,
              radio_buttons: :horizontal_radio_and_checkboxes,
              file: :horizontal_file_input,
              boolean: :horizontal_boolean
            }) do |f| %>

      <%= f.input :username %>
      <%= f.input :consumer_key %>
      <%= f.input :consumer_secret %>
      <%= f.input :access_token %>
      <%= f.input :access_token_secret %>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-9">
          <%= f.button :submit, class: 'btn btn-block btn-info' %>
        </div>
      </div>
      
    <% end %>
  </div>
</div>