<div class="row">
  <div class="col-xs-12">
    <%= simple_form_for(@orphan, html: { class: 'form-horizontal' }) do |f| %>

      <%= f.input :first_name, label_html: {class: "control-label "} %>
      <%= f.input :last_name %>
      <%= f.input :hashtag %>
      <%= f.input :description %>
     
      <%= f.input :avatar, as: :file %>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>