<% content_for(:title) do %>
  <%= resource %>
<% end %>

<% content_for(:flash_messages) do %>
  NO
<% end %>



<% content_for(:full_width) do %>
  <div class="full-width-header">
    <%= image_tag resource.photo.url, class: "img-responsive" %>
  </div>
<% end %>

<div class="row">
  <div class="col-md-3 sidebar">
    <div class="row">
      <div class="col-xs-3 col-md-12"><%= image_tag resource.avatar.square.url, class: "img-responsive thumbnail avatar" %></div>
      <div class="col-xs-9 col-md-12"><h2><%= @orphan %></h2></div>
    </div>
    
    <%= simple_format (@orphan.description||"") %>
    
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-home"></i><%= link_to @organization, root_path %></li>
      <% if @organization.location.present? %>
        <li><i class="fa-li fa fa-map-marker"></i><%= @organization.location %></li>
      <% end %>
      <% if @organization.url.present? %>
        <li><i class="fa-li fa fa-link"></i><%= link_to @organization.url.gsub(/https?:\/\//,""), @organization.url %></li>
      <% end %>
    </ul>
    
    <% if can?(:create, Subscription) && !can?(:update, current_user.try(:subscription_for,@orphan)) %>
      <a href="" class="btn btn-block btn-primary" data-toggle="modal" data-target="#subscription-modal"><i class="fa fa-trophy fa-lg"></i> Sponsor</a>
      
    <% end %>
    
    <% if current_user.try(:subscription_for,@orphan) && can?(:update, current_user.try(:subscription_for,@orphan)) %>
      <a href="" class="btn btn-block btn-primary" data-toggle="modal" data-target="#email-modal"><i class="fa fa-envelope-o fa-lg"></i> Email</a>
    <% end %>
    
    <% if can? :update, @orphan %>
      <%= link_to "<i class=\"fa fa-pencil fa-lg\"></i> Edit".html_safe, edit_orphan_path(resource), class: "btn btn-block btn-primary" %>
    <% end %>
  
  </div>
  
  <div class="col-md-9 content">
    
    <%= flash_messages %>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Updates from <%= @orphan %></h3>
      </div>
        
      <div class="panel-body">

        <% @orphan.posts.reorder{ id.desc }.each do |post| %>
          <div class="row post">
            <div class="col-md-1 visible-md-block visible-lg-block">
              <% if post.orphans.present? %>
                <%= image_tag post.orphans.first.avatar.square.url, class: "img-responsive img-rounded" %>
              <% end %>
            </div>
            <div class="col-md-11 col-xs-12">
            
              <% if post.orphans.present? %>
                <h5>
                  <%= post.orphans.map{|orphan| link_to(orphan, orphan) }.join(' &amp; ').html_safe %>
                  <small>&nbsp;·&nbsp;<%= time_ago_in_words(post.tweet_created_at) %></small>
                </h5> 
              <% else %>
                <h5>
                  Shelter of Love
                  <small>&nbsp;·&nbsp;<%= time_ago_in_words(post.tweet_created_at) %></small>
                </h5> 
              <% end %>
            
              <p class="lead"><%= post.body %></p>
          
          
              <% if post.photo_url %>
                <img class="img-responsive" src="<%= post.photo_url.gsub(/https?:/,"") %>">  
              <% end %>
                
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="subscription-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Sponsor <%= @orphan %></h4>
      </div>
      <div class="modal-body">
        <p>We foster a direct relationship between you and your sponsored child. There are three levels of sponsorship - at the $34 level, you are providing your child's food each month. At the $68 level, you are providing your child's food and education each month. And, at the full sponsorship level of $200 per month, you are providing your child's food, education, shelter, caretakers, and all other associated costs. Each child may be sponsored by three sponsors or up to $200 per month, which is considered full sponsorship.  Therefore, the children in the directory may already have one or two sponsors but have not yet been fully sponsored</p>
        
        <%= form_tag("/orphans/#{resource.id}/subscriptions", method: "post") do %>
          <div class="form-group">
            <label for="subscription_subscription_type">Subscription Type</label>
            <select name="subscription[subscription_type]" id="subscription_subscription_type"  class="form-control">
              <option value="maximum">$200 Level</option>
              <option value="medium">$68 Level</option>
              <option value="partial">$34 Level</option>
            </select>
          </div>
          
          <div class="form-group">
            <label for="subscription_account_first_name">Your First Name</label>
            <input name="subscription[account][first_name]" type="text" class="form-control" id="subscription_account_first_name" placeholder="Enter first name" value="<%= current_user.try(:first_name) %>">
          </div>
          <div class="form-group">
            <label for="subscription_account_last_name">Your Last Name</label>
            <input name="subscription[account][last_name]" type="text" class="form-control" id="subscription_account_last_name" placeholder="Enter last name" value="<%= current_user.try(:last_name) %>">
          </div>
          
          <div class="form-group">
            <label for="subscription_account_email">Email address</label>
            <input name="subscription[account][email]" type="email" class="form-control" id="subscription_account_email" placeholder="Enter email" value="<%= current_user.try(:email) %>">
          </div>
          
          <div class="form-group">
            <label for="subscription_account_address1">Address 1</label>
            <input name="subscription[account][address][address1]" type="text" class="form-control" id="subscription_account_address1" placeholder="Enter Address">
          </div>
          
          <div class="form-group">
            <label for="subscription_account_address2">Address Con't</label>
            <input name="subscription[account][address][address2]" type="text" class="form-control" id="subscription_account_address2" placeholder="Enter Address">
          </div>
          
          <div class="form-group">
            <label for="subscription_account_city">City</label>
            <input name="subscription[account][address][city]" type="text" class="form-control" id="subscription_account_city" placeholder="Enter City">
          </div>
          
          <div class="form-group">
            <label for="subscription_account_state">State</label>
            <input name="subscription[account][address][state]" type="text" class="form-control" id="subscription_account_state" placeholder="Enter State">
          </div>
          
          <div class="form-group">
            <label for="subscription_account_zip">Zip</label>
            <input name="subscription[account][address][zip]" type="text" class="form-control" id="subscription_account_zip" placeholder="Enter Zip">
          </div>
          
          <div class="form-group">
            <label for="exampleInputEmail1">Credit Card #</label>
            <input name="subscription[account][billing_info][number]" type="text" class="form-control" id="subscription_account_billing_info_number" placeholder="Enter credit card">
          </div>
          
          <div class="form-group">
            <label for="exampleInputEmail1">Expiration Date</label>
            <div class="row">
              <div class="col-xs-2">
                <select name="subscription[account][billing_info][month]" id="subscription_account_billing_info_month" class="form-control">
                  <% (1..12).to_a.each do |month| %>
                    <option value="<%= month %>"><%= month %></option>
                  <% end %>
                </select>
              </div>
              <div class="col-xs-3">
                <select name="subscription[account][billing_info][year]" id="subscription_account_billing_info_year" class="form-control">
                  <% (Time.now.year..Time.now.year+20).to_a.each do |year| %>
                    <option value="<%= year %>"><%= year %></option>
                  <% end %>
                </select>
              </div>
            </div>
          </div>
          
          <% if !signed_in? %>
            <div class="form-group">
              <label for="password">Account Password</label>
              <input name="password" type="password" class="form-control" id="password" placeholder="Enter password">
            </div>
            <div class="form-group">
              <label for="password_confirmation">Password Confirmation</label>
              <input name="password_confirmation" type="password" class="form-control" id="password_confirmation" placeholder="Confirm password">
            </div>
          <% end %>
          
          
          
          <div class="checkbox">
            <label>
              <input type="checkbox"> Accept?
            </label>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="faux-submit btn btn-primary">Sponsor</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="email-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Email <%= @orphan %></h4>
      </div>
      <div class="modal-body">        
        <%= form_tag("/orphans/#{resource.id}/subscriptions", method: "post", remote: true) do %>
          <div class="form-group">
            <textarea name="message" class="form-control" id="message" placeholder="Type your message..." rows="10"></textarea>
          </div>

        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="faux-submit btn btn-primary"><i class="fa fa-paper-plane-o fa-lg"></i> Send</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->