<% content_for(:title) do %>
  <%= @organization %>
<% end %>

<% content_for(:full_width) do %>
  <div class="full-width-header">
    <%= image_tag @organization.photo.url, class: "img-responsive" %>
  </div>
<% end %>

<% content_for(:flash_messages) do %>
  NO
<% end %>


<div class="row">
  <div class="col-md-3 sidebar">
    
    <div class="row">
      <div class="col-xs-3 col-md-12"><%= image_tag @organization.avatar.square.url, class: "img-responsive thumbnail avatar" %></div>
      <div class="col-xs-9 col-md-12"><h2><%= @organization %></h2></div>
    </div>
    
    <%= simple_format (@organization.description||"") %>
    
    <ul class="fa-ul">
      <% if @organization.location.present? %>
        <li><i class="fa-li fa fa-map-marker"></i><%= @organization.location %></li>
      <% end %>
      <% if @organization.url.present? %>
        <li><i class="fa-li fa fa-link"></i><%= link_to @organization.url.gsub(/https?:\/\//,""), @organization.url %></li>
      <% end %>
      <li><i class="fa-li fa fa-users"></i><%= link_to "Our Orphans", orphans_path %></li>
    </ul>
    
    <% if can? :update, @organization %>
      <%= link_to "<i class=\"fa fa-pencil fa-lg\"></i> Edit".html_safe, edit_organization_path(@organization), class: "btn btn-block btn-primary" %>
    <% end %>
    
    


  </div>

  <div class="col-md-9 content">
    
    <%= flash_messages %>
    
    <div class="panel panel-default">
      <div class="panel-body">


        <!-- <div class="page-header">
          <h1>The Latest from <%= @organization.name %></h1>
        </div> -->
      
        <% collection.each do |post| %>
          <div class="row post">
            <div class="col-md-1 visible-md-block visible-lg-block">
              <% if post.orphans.present? %>
                <%= image_tag post.orphans.first.avatar.square.url, class: "img-responsive img-rounded" %>
              <% end %>
            </div>
            <div class="col-md-11 col-xs-12">
              
              <% if post.orphans.present? %>
                <h5>
                  <%= post.orphans.map{|orphan| link_to(orphan, orphan) }.join('&amp;').html_safe %>
                  <small>&nbsp;·&nbsp;<%= time_ago_in_words(post.tweet_created_at) %></small>
                </h5> 
              <% else %>
                <h5>
                  Shelter of Love
                  <small>&nbsp;·&nbsp;<%= time_ago_in_words(post.tweet_created_at) %></small>
                </h5> 
              <% end %>
              
              <p class="lead"><%= post.body %></p>
            
            
              <% if post.photo_url %>
                <img class="img-responsive" src="<%= post.photo_url %>">  
              <% end %>
                  
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>