<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">About Us</h3>
      </div>
      <div class="panel-body">
        <p>A brief description of the organization goes here, including where it's located and what it does.</p>
        <p>Check out our website: <a href="http://shelteroflove.com/">Shelter of Love</a></p>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Our Orphans</h3>
      </div>
      <div class="panel-body">
        <ul class="media-list">
          <% Orphan.all.each do |orphan| %>
            <li class="media">
              <div class="media-left">
                <%= link_to image_tag(orphan.avatar.square.url, class: "media-object img-responsive"), orphan, style: "display:block; width: 64px; height: 64px;" %>
              </div>
              <div class="media-body">
                <h4 class="media-heading"><%= link_to orphan, orphan %></h4>
                <%= simple_format orphan.description %>
              </div>
            </li>  
          <% end %>
          
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-body">


        <div class="page-header">
          <h1>The Latest from <%= @organization.name %></h1>
        </div>
      
        <% Post.all.each do |post| %>
          <div class="row post">
            <div class="col-xs-1">
              <% if post.orphans.present? %>
                <%= image_tag post.orphans.first.avatar.square.url, class: "img-responsive img-rounded" %>
              <% end %>
            </div>
            <div class="col-xs-11">
              
              <% if post.orphans.present? %>
                <h5>
                  <%= post.orphans.map{|orphan| link_to(orphan, orphan) }.join('&amp;').html_safe %>
                  <small>&nbsp;·&nbsp;<%= time_ago_in_words(post.tweet_created_at) %></small>
                </h5> 
              <% else %>
                <h5>
                  Shelter of Love
                  <small>&nbsp;·&nbsp;<%= time_ago_in_words(post.tweet_created_at) %></small>
                </h5> 
              <% end %>
              
              <p class="lead"><%= post.body %></p>
            
            
              <% if post.photo_url %>
                <img class="img-responsive" src="<%= post.photo_url %>">  
              <% end %>
                  
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>